*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-img{
    background-image: url(img/mv.jpg);
    background-size: cover;
    background-position: bottom;
    height: 400px;
    width: 100%;
}
.headline{
    padding: 20px;
}
main{
    width: 840px;
    margin: 50px auto;
}
.main-content{
    margin-bottom: 30px;
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: 30px;
}